Aardvark.log
.ionide
src/**/*.o
src/**/*.so
bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/bin/Aardvark.Fake.dll
/src/*.opensdf
/src/*.sdf
/src/CeresCpp/CeresCpp.vcxproj.user
/.fake
/paket-files/
.paket/paket.exe
/libs/Native/Ceres/windows/AMD64/CeresCpp.iobj
/libs/Native/Ceres/windows/AMD64/CeresCpp.ipdb
/libs/Native/Ceres/windows/AMD64/CeresCpp.pdb
/src/*.opendb
/src/*.db
/.paket/paket.exe
*.iobj
*.ipdb
/libs/Native/Ceres/windows/AMD64/CeresCpp.lib
*.TMP
Debug
Release
System.ValueTuple.4.3.0
UpgradeLog.htm
lib/ceres/x64/Debug/ceres_static.lib
lib/ceres/x64/Release/ceres_static.lib
/.paket/*.targets
/src/CeresNative/*.user
/.paket
/.fake
.DS_Store
src/CeresNative/CeresNative.dylib
src/CeresNative/*.o
/.vcpkg
/src/CeresNative/build/
/libs
.idea/